# Biodiversity in U.S. National Parks

Importing the necessary modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

There may well be other but for now this will do...

There are two .csv files to inspect

## Observations.csv

will print:
- head
- shape
- data types
- unique values in columns

In [7]:
obs_data = pd.read_csv("observations.csv")
print(f"Columns: {obs_data.columns.tolist()}\n")

Columns: ['scientific_name', 'park_name', 'observations']

In [8]:
print(obs_data.head())

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [14]:
print(obs_data.shape)

(23296, 3)

In [11]:
print(obs_data.dtypes)

scientific_name    object
park_name          object
observations        int64
dtype: object

In [19]:
parks_list = obs_data.park_name.unique()
print(f"National Parks: {parks_list}\n")

num_species_list = obs_data.scientific_name.unique()
print(f"Unique Species: {num_species_list}\n")

print(f"We have {len(num_species_list)} unique species")

National Parks: ['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Bryce National Park' 'Yellowstone National Park']

Unique Species: ['Vicia benghalensis' 'Neovison vison' 'Prunus subcordata' ...
 'Ranunculus hebecarpus' 'Gulo gulo' 'Dichanthelium depauperatum']

We have 5541 unique species

We have saved the list variables;

### parks_list
which is a list of the National parks.
There are four, all in the United States

### num_species_list
which is a list of unique species.

----

## species_info.csv

will print:
- head
- shape
- data types
- unique values in columns

In [27]:
species_data = pd.read_csv("species_info.csv")
print(f"Columns: {species_data.columns.tolist()}")

Columns: ['category', 'scientific_name', 'common_names', 'conservation_status']

In [21]:
print(species_data.head())

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN

We have a few interesting values.
Category seems to be genus.
we have scientific name -
#### need to see if the number of unique values correlates with the other dataframe
common names - there seem to be a number
conservation status -
#### need how many we have 'NaN' which i'm assuming means 'not endangered' - (could be bad assumption)

In [23]:
print(f"Shape of the data: {species_data.shape} (Tuple of (columns, rows))\n")
print(f"Type of data:\n{species_data.dtypes}")

Shape of the data: (5824, 4) (Tuple of (columns, rows))

Type of data:
category               object
scientific_name        object
common_names           object
conservation_status    object
dtype: object

It's useful to have a few of the unique column values saved as lists to better see what we're dealing with

In [26]:
category_list = species_data.category.unique()
print(f"Categories/Genus: {category_list}\n")

sci_name_list = species_data.scientific_name.unique()
print(f"Unique Species (Scientific Name): {len(sci_name_list)}\n")

com_name_list = species_data.common_names.unique()
print(f"Unique Species (Common Name): {len(com_name_list)}")

Categories/Genus: ['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Nonvascular Plant']

Unique Species (Scientific Name): 5541

Unique Species (Common Name): 5504

I would expect the scientific name/common name to be the same length. There's a discrepancy
Maybe some species haven't been given a 'common name'!